 
  <div class="col-xs-12 col-sm-8 side pull-lefthttp: sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="row-fluid">
            <div class="thumbnails">
              <div class="span3">
                <div class="thumbnail">
                  <%=link_to image_tag(@product.image.url(:large)), @product.image.url(:large), :popup => ['original_image', 'height=700,width=900'] %>
                  <div class="caption">
                    <h3><%= @product.title %></h3>
                    <p><%= @product.content %></p>
                  </div>
                </div>
              </div>
              </div>
      </div>
</div>
      <%= render 'more' %>